.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 90px;
    font-family: 'Plus Jakarta Sans';
}

.form h2 {
    font-size: 30px;
    text-align: center;
}

.form input,
.form textarea,
.form button {
    width: 50%;
    box-sizing: border-box;
}

.form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form textarea {
    height: 100px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}

.form button {
    padding: 10px;
    background-color: #ffffff;
    color: #313131;
    border: 2px solid #363636;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}