.partner {
    padding: 50px;
    background-color: #ffffff;
    text-align: center;
}
.partner-title {
    font-family: 'Plus Jakarta Sans';
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #141414;
}
.partner-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    flex-wrap: wrap;
}
.partner-logos img {
    max-width: 150px;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.partner-logos img:hover {
    opacity: 1;
}
