.how-it-works {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    font-size: 20px;
}

.paragraph-how-it-works {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    margin-bottom: 60px;
    font-size: 13px;
    color: #7E7E7E;
}