.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-logo-img {
  height: 24px;
  width: auto;
  display: block;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-menu a:hover {
  color: #3F70F9;
}

.nav-right {
  display: flex;
  gap: 12px;
}

.btn {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

.btn-primary {
  background: #141414;
  color: white;
}

.btn-outline{
    border: 1px solid #2d2d2d;
    color: #141414;
    background: transparent;
}

.btn-primary:hover {
  background: #2a2a2a;
}
