.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-img {
  height: 24px;
  display: block;
}

.nav-menu {
  display: flex;
  gap: 28px;
}

.nav-menu a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-menu a:hover {
  color: #3F70F9;
}

.btn-signin {
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;

  background: #141414;
  color: #fff;
  text-decoration: none;

  transition: all 0.2s ease;
}

.btn-signin:hover {
  background: #363636;
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .navbar-container {
    padding: 12px 16px;
  }

  .nav-menu {
    display: none;
  }
}

.nav-user {
  gap: 12px;
  display: flex;
  align-items: center;
}

.nav-user button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  background: #ff5656;
  color: #fff;
  text-decoration: none;

  transition: all 0.2s ease;
}